@use "../base/vars" as *;
@use "../base/mixins" as *;
@use "../base/typography" as *;

// General --------------------------------------------------------------------------------------------------------------
body{
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

.site{
	padding: 0 1rem;
	max-width: 800px;
	margin: 0 auto;

	@include is-max-tablet{
		padding: .2rem 1rem;
	}
}

.content{
	width: 100%;
}

// Navigation --------------------------------------------------------------------------------------------------------------

.logo {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin: 0;
	font-family: 'Bluu Next', sans-serif;
	font-size: 1.4rem;
	color: var(--text-primary);
	text-decoration: none;
}
