---
// Homepage layout

import Layout from '../layouts/Layout.astro';
import BlogCard from '../components/BlogCard.astro';
import Button from '../components/Button.astro';
import { getCollection, getEntry } from 'astro:content';

const home = await getEntry('page', 'home');
const posts = await getCollection('writing');
const { Content } = await home.render();
---

<Layout title={home.data.title} description={home.data.description}>
	<main class="site">
		<h1 class="hidden">Queer astrologer in Montreal</h1>

		<div class="content">
			<Content />
		</div>
	</main>
</Layout>

<style lang="scss">
	.content{
		padding-top: .5rem;
	}

</style>