---
import Navigation from './Navigation.astro';
import { Image } from 'astro:assets';
const { settings } = Astro.props;

import logo from '../images/yin-yang.svg';

---
<header>
	<div class="logo">
		<Image src={logo} alt="Queer shiatsu massage therapy in Montreal, Liminal Care Shiatsu" />
		<span>{settings.site_name}</span>
	</div>

	<nav class="nav-links">
		<Navigation />
  	</nav>
</header>

<style lang="scss" is:global>
	@use "../styles/base/typography" as *;

	header {
		padding: 1rem 1rem;
		display: flex;
		align-items: center;
		max-width: 800px;
		margin: 0 auto;
	}

	.logo {
		@include font-serif;
		text-decoration: none;
		text-transform: uppercase;

		display: flex;
		align-items: center;
		margin: 0;
		color: var(--text-primary);

		img {
			width: 1.25em;
			height: auto;
			margin-right: .5rem;
		}
	}

	.nav-links {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: .75em;
		> a {
			color: var(--color-foreground);
			text-decoration: none;
			padding: 0.3rem .6rem;
			border: 1px dotted var(--color-foreground);
			transition: background-color 0.05s;
			&:hover{
				border: 1px solid var(--color-foreground);
			}
			&.active{
				background-color: #F8E8AD;
			}
		}
	}
</style>
