---
import { getEntry } from 'astro:content';


const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
const settings = await getEntry('page', 'settings');

---

<a href="/" class={currentPath === "" ? "active" : ""}>Home</a>
<a href="/about" class={currentPath === "about" ? "active" : ""}>About</a>
<a href="/writing" class={currentPath === "writing" ? "active" : ""}>Writing</a>
<a href="offerings" class={currentPath === "offerings" ? "active" : ""}>Offerings</a>
<a target="_blank" href={settings.data.link_booking.url}>Book a consultation</a>

