@use "vars" as *;
@use "mixins" as *;


// Font family -------------------------------------------------------------------
// Register your custom font family and tell the browser where to find it.
// 
// Example 1: Self-hosting fonts
// 	@font-face {
// 		font-family: 'Ronzino';
// 		src: url('/fonts/Ronzino/Ronzino-Regular.woff2') format('woff2');
// 		font-weight: normal;
// 		font-style: normal;
// 		font-display: swap;
// 	}
//
// Example 2: Fontsource
// See guide: https://docs.astro.build/en/guides/fonts/


@font-face {
	font-family: 'NimbusSans';
	src: url('/fonts/Nimbus/nimbus_sans_l_regular_condensed.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'NimbusSansCondensed';
	src: url('/fonts/Nimbus/nimbus_sans_l_bold_condensed.ttf') format('ttf');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@mixin font-serif {
	font-family: 'BIZ UDMincho', serif;
	letter-spacing: -4%;
}


// Font size -------------------------------------------------------------------

@mixin text {
	font-family: 'Nimbus Sans', system-ui, sans-serif;
	font-size: 1.125rem;
	line-height: 124%;
	letter-spacing: -2%;

	@include is-phone{
		font-size: 1rem;
	}
}
@mixin text-small{
	font-size: .88rem;
}
@mixin text-h1{
	font-size: 1.5rem;
	line-height: 118%;
	font-weight: normal;
	letter-spacing: -3%;
}
@mixin text-h2{
	font-size: 1.4rem;
	line-height: 108%;
	font-weight: normal;
}
@mixin text-h3{
	// @include font-serif;
	font-size: 1.25rem;
	line-height: 112%;
	font-weight: normal;
	
}
@mixin text-h4{
	@include font-serif;
	font-size: 1.1rem;
	line-height: 118%;
	
}

@mixin text-button{
	@include font-serif;
	font-size: 1.0625rem;
	font-weight: normal;
	letter-spacing: -2%;
	line-height: 100%;
}

